.maindiv{
    margin-top:15%; 
    border:2px solid blue; 
    height:300px
}

.H1div{

    margin-top:20px; 
    margin-left:5%
}

.Childdiv1{
float:left; 
margin-left:10%; 
margin-top:40px; 
border:2px solid green
}

.Childdiv2{
    float:right; margin-right:20%; 
    border:2px solid red; 
    width:600px; 
    height:200px
}

.ultag{
    list-style-type: none; 
    padding-left: 20px; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-right: 20px
}