<!-- <div class="maindiv" style="margin-top:15%; border:2px solid blue; height:300px">
<h1  class="H1div" style="margin-top:20px; margin-left:5%">
    Parent Component
</h1>

<div class="Childdiv1" style=" float:left; margin-left:10%; margin-top:40px; border:2px solid green"> 
    <ul style="list-style-type: none; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px ">
        <li><a [routerLink]="['ParentChildHolder/Child1']" > <button > Child1 </button> </a></li>
        <li style="margin-top: 50px" ><a [routerLink]="['ParentChildHolder/Child2']" > <button > Child2 </button> </a></li>
    </ul>
</div>
<div  class="Childdiv2" style=" float:right; margin-right:20%; border:2px solid red; width:600px; height:200px" > 
    <router-outlet></router-outlet>
</div>

</div> -->


<div class="maindiv">
<h1  class="H1div">
    Parent Component
</h1>

<div class="Childdiv1"> 
    <ul class="ultag">
        <li><a [routerLink]="['ParentChildHolder/Child1']" > <button > Child1 </button> </a></li>
        <li style="margin-top: 50px" ><a [routerLink]="['ParentChildHolder/Child2']" > <button > Child2 </button> </a></li>
    </ul>
</div>
<div  class="Childdiv2"> 
    <router-outlet></router-outlet>
</div>

</div>