 <div class="navbar navbar-inverse navbar-fixed-top" style="background:black; float:left; height: 50px" >
            <div style="padding-left:10%;">
              <button class="button" style="width:auto" (click)="SelectDiv(1)">Data Binding</button>&nbsp;
              <button class="button" style="width:auto" (click)="SelectDiv(2)">TDForm</button>
              <button class="button" style="width:auto" (click)="SelectDiv(3)">MDForm</button>
              <button class="button" style="width:auto" (click)="SelectDiv(4)">MBForm</button>
              <button class="button" style="width:auto" (click)="SelectDiv(5)">Services</button>
              <button class="button" style="width:auto" (click)="SelectDiv(6)">Routing</button>
              <button class="button" style="width:auto" (click)="SelectDiv(7)">Input/Output</button>
              <button class="button" style="width:auto" (click)="SelectDiv(8)">Class/Style</button>
              <button class="button" style="width:auto" (click)="SelectDiv(9)">Cust_Directive</button>
              <button class="button" style="width:auto" (click)="SelectDiv(10)">ChildRouting</button>
            </div>
    </div>



<router-outlet></router-outlet>